body, html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;
}

.whatsapp {
    position: fixed;
    top: 70%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}
.insta {
  position: fixed;
  top: 80%;
  right: 1.5%;
  padding: 9px;
  z-index: 10000000;
}